@import "scss/bootstrap.scss";
@import "variables";


.general-navbar {
    .nav-link {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .active {
        text-decoration: underline;
    }
}

.footer {
    background-color: white;
}

.general-header {
    position: absolute;
    left: 0;
    top: 60px;
    height: 400px;
}

.general-content {
    margin-top: 450px;
}

.donor-image {
    width: 100%;
}

.donor-row {
    margin-bottom: 30px;
}

.icon-appstore {
    height: 50px;
    margin-bottom: 30px;
}

.icon-googleplay {
    height: 70px;
    margin-bottom: 30px;
}

.map-frame {
    margin-bottom: 30px;
}

